.buscador {
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  align-items: center;
  margin-right: 20px; /* Ajustar margen derecho si es necesario */
  transition: all 0.3s ease-in-out;
}

.input-container {
  position: relative;
  width: auto;
}

.input-container i {
  position: absolute;
  top: 50%;
  right: 10px; /* Cambiar a "right" para alinear el ícono a la derecha */
  transform: translateY(-50%);
  color: #999;
  font-size: 1.2em;
  cursor: pointer;
}

.input-container input {
  width: 0;
  opacity: 0;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: width 0.3s ease, opacity 0.3s ease;
  outline: none;
}

.buscador.activo .input-container input {
  width: 300px;
  opacity: 1;
  padding-right: 35px; /* Espacio para el ícono */
}

.input-container input:focus {
  border: 1px solid #235;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* cambie de 20 al 0 ya que con el login se roba el padding y se le pone el 20%*/
  padding: 30px 10px;
}

.card {
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  width: 100%;
  height: 120px;
  text-align: center;
  background: linear-gradient(135deg, #f57e1d, #f68e39);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-content {
  display: flex;
  flex-direction: row; /* Cambiado para disposición horizontal */
  align-items: center;
  justify-content: space-between; /* Separar contenido */
  margin-top: 10px;
  /* text-align: center; */
  /* text-align: start; */
  text-align: left; /* Alinear contenido a la izquierda */
  width: 100%;
}

.card-content .number {
  font-size: 2rem;
  color: #f68e39;
  font-weight: bold;
  margin-right: 15px;
}

.card-content .info {
  flex-grow: 1;
  padding: 20px;
}

.card-content p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.chart {
  width: 100%;
  margin-top: 20px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 15px;
  }

  .card-content {
    flex-direction: column; /* Volver a vertical en pantallas pequeñas */
  }

  .card-content p {
    font-size: 0.8rem;
  }
}
